In [ ]:
import pandas as pd

# Creating the Student DataFrame
student_data = {
    "Std_id": ["St11", "St12", "St13", "St14", "St15", "St16", "St17", "St18", "St19", "St20"],
    "name": ["Rama", "Krishna", "Balarama", "Hanuma", "Jaya", "Sita", "Radha", "Rukmini", "Lakshmi", "Bharatha"],
    "Sem": [1, 1, 2, 2, 3, 3, 3, 2, 1, 1],
    "age": [19, 20, 21, 18, 20, 22, 19, 17, 19, 22],
    "CGPA": [7.5, 8.9, 9.9, 9.5, 8.3, 8.5, 8.3, 8.1, 9.2, 9.5],
    "Dept_id": ["D1", "D1", "D2", "D2", "D3", "D4", "D4", "D4", "D1", "D2"]
}

student_df = pd.DataFrame(student_data)

# Creating the Department DataFrame
dept_data = {
    "Dept_id": ["D1", "D2", "D4", "D5", "D6"],
    "Dname": ["CSE", "Mech", "AI and ML", "ECE", "Civil"],
    "Dloc": ["Bangalore", "Goa", "Delhi", "Bangalore", "Mathura"],
    "D_Hod": ["Indra", "Chadra", "Surya", "Mourya", "Harsha"]
}

dept_df = pd.DataFrame(dept_data)

# Displaying the DataFrames
print("Student DataFrame:")
print(student_df)

print("\nDepartment DataFrame:")
print(dept_df)

Student DataFrame:
  Std_id      name  Sem  age  CGPA Dept_id
0   St11      Rama    1   19   7.5      D1
1   St12   Krishna    1   20   8.9      D1
2   St13  Balarama    2   21   9.9      D2
3   St14    Hanuma    2   18   9.5      D2
4   St15      Jaya    3   20   8.3      D3
5   St16      Sita    3   22   8.5      D4
6   St17     Radha    3   19   8.3      D4
7   St18   Rukmini    2   17   8.1      D4
8   St19   Lakshmi    1   19   9.2      D1
9   St20  Bharatha    1   22   9.5      D2

Department DataFrame:
  Dept_id      Dname       Dloc   D_Hod
0      D1        CSE  Bangalore   Indra
1      D2       Mech        Goa  Chadra
2      D4  AI and ML      Delhi   Surya
3      D5        ECE  Bangalore  Mourya
4      D6      Civil    Mathura  Harsha

In [ ]:

# 2.
# Performing inner join
inner_join_result = pd.merge(student_df, dept_df, on="Dept_id", how="inner")

# Performing outer join
outer_join_result = pd.merge(student_df, dept_df, on="Dept_id", how="outer")

# Displaying the results
print("Inner Join Result:")
print(inner_join_result)

print("\nOuter Join Result:")
print(outer_join_result)

Inner Join Result:
  Std_id      name  Sem  age  CGPA Dept_id      Dname       Dloc   D_Hod
0   St11      Rama    1   19   7.5      D1        CSE  Bangalore   Indra
1   St12   Krishna    1   20   8.9      D1        CSE  Bangalore   Indra
2   St19   Lakshmi    1   19   9.2      D1        CSE  Bangalore   Indra
3   St13  Balarama    2   21   9.9      D2       Mech        Goa  Chadra
4   St14    Hanuma    2   18   9.5      D2       Mech        Goa  Chadra
5   St20  Bharatha    1   22   9.5      D2       Mech        Goa  Chadra
6   St16      Sita    3   22   8.5      D4  AI and ML      Delhi   Surya
7   St17     Radha    3   19   8.3      D4  AI and ML      Delhi   Surya
8   St18   Rukmini    2   17   8.1      D4  AI and ML      Delhi   Surya

Outer Join Result:
   Std_id      name  Sem   age  CGPA Dept_id      Dname       Dloc   D_Hod
0    St11      Rama  1.0  19.0   7.5      D1        CSE  Bangalore   Indra
1    St12   Krishna  1.0  20.0   8.9      D1        CSE  Bangalore   Indra
2    St19   Lakshmi  1.0  19.0   9.2      D1        CSE  Bangalore   Indra
3    St13  Balarama  2.0  21.0   9.9      D2       Mech        Goa  Chadra
4    St14    Hanuma  2.0  18.0   9.5      D2       Mech        Goa  Chadra
5    St20  Bharatha  1.0  22.0   9.5      D2       Mech        Goa  Chadra
6    St15      Jaya  3.0  20.0   8.3      D3        NaN        NaN     NaN
7    St16      Sita  3.0  22.0   8.5      D4  AI and ML      Delhi   Surya
8    St17     Radha  3.0  19.0   8.3      D4  AI and ML      Delhi   Surya
9    St18   Rukmini  2.0  17.0   8.1      D4  AI and ML      Delhi   Surya
10    NaN       NaN  NaN   NaN   NaN      D5        ECE  Bangalore  Mourya
11    NaN       NaN  NaN   NaN   NaN      D6      Civil    Mathura  Harsha

In [ ]:
# 3. Merging based on Dept_id
merged_data = pd.merge(student_df, dept_df, on="Dept_id")

# Displaying the merged result
print("Merged Result:")
print(merged_data)

Merged Result:
  Std_id      name  Sem  age  CGPA Dept_id      Dname       Dloc   D_Hod
0   St11      Rama    1   19   7.5      D1        CSE  Bangalore   Indra
1   St12   Krishna    1   20   8.9      D1        CSE  Bangalore   Indra
2   St19   Lakshmi    1   19   9.2      D1        CSE  Bangalore   Indra
3   St13  Balarama    2   21   9.9      D2       Mech        Goa  Chadra
4   St14    Hanuma    2   18   9.5      D2       Mech        Goa  Chadra
5   St20  Bharatha    1   22   9.5      D2       Mech        Goa  Chadra
6   St16      Sita    3   22   8.5      D4  AI and ML      Delhi   Surya
7   St17     Radha    3   19   8.3      D4  AI and ML      Delhi   Surya
8   St18   Rukmini    2   17   8.1      D4  AI and ML      Delhi   Surya

In [ ]:
#  4. Merging based on Dept_id
merged_data = pd.merge(student_df, dept_df, on="Dept_id")

# Extracting CSE department student details
cse_students = merged_data[merged_data["Dname"] == "CSE"]

# Displaying CSE department student details
print("CSE Department Student Details:")
print(cse_students)

CSE Department Student Details:
  Std_id     name  Sem  age  CGPA Dept_id Dname       Dloc  D_Hod
0   St11     Rama    1   19   7.5      D1   CSE  Bangalore  Indra
1   St12  Krishna    1   20   8.9      D1   CSE  Bangalore  Indra
2   St19  Lakshmi    1   19   9.2      D1   CSE  Bangalore  Indra

In [ ]:
# 6. Extract only student details whose CGPA is greater than 9.0
high_cgpa_students = student_df[student_df["CGPA"] > 9.0]

print("High CGPA Students:")
print(high_cgpa_students)

High CGPA Students:
  Std_id      name  Sem  age  CGPA Dept_id
2   St13  Balarama    2   21   9.9      D2
3   St14    Hanuma    2   18   9.5      D2
8   St19   Lakshmi    1   19   9.2      D1
9   St20  Bharatha    1   22   9.5      D2

In [ ]:
# 7. Rename the column Dname to dept_name
dept_df.rename(columns={"Dname": "dept_name"}, inplace=True)

print("\nRenamed Department DataFrame:")
print(dept_df)

Renamed Department DataFrame:
  Dept_id  dept_name       Dloc   D_Hod
0      D1        CSE  Bangalore   Indra
1      D2       Mech        Goa  Chadra
2      D4  AI and ML      Delhi   Surya
3      D5        ECE  Bangalore  Mourya
4      D6      Civil    Mathura  Harsha

In [ ]:
# 8. Find the highest and lowest CGPA in department wise
highest_cgpa_per_dept = student_df.groupby("Dept_id")["CGPA"].max()
lowest_cgpa_per_dept = student_df.groupby("Dept_id")["CGPA"].min()

print("\nHighest CGPA per Department:")
print(highest_cgpa_per_dept)

print("\nLowest CGPA per Department:")
print(lowest_cgpa_per_dept)

Highest CGPA per Department:
Dept_id
D1    9.2
D2    9.9
D3    8.3
D4    8.5
Name: CGPA, dtype: float64

Lowest CGPA per Department:
Dept_id
D1    7.5
D2    9.5
D3    8.3
D4    8.1
Name: CGPA, dtype: float64

In [ ]:
# 9. Use loc method to extract specific rows from Dept table
selected_rows_dept = dept_df.loc[[1, 3]]

print("\nSelected Rows from Department Table:")
print(selected_rows_dept)

Selected Rows from Department Table:
  Dept_id dept_name       Dloc   D_Hod
1      D2      Mech        Goa  Chadra
3      D5       ECE  Bangalore  Mourya

In [ ]:
# 10. Reshape the dept table
reshaped_dept_table = dept_df.pivot(index="dept_name", columns="Dloc", values="D_Hod")

print("\nReshaped Department Table:")
print(reshaped_dept_table)

Reshaped Department Table:
Dloc      Bangalore  Delhi     Goa Mathura
dept_name
AI and ML       NaN  Surya     NaN     NaN
CSE           Indra    NaN     NaN     NaN
Civil           NaN    NaN     NaN  Harsha
ECE          Mourya    NaN     NaN     NaN
Mech            NaN    NaN  Chadra     NaN